<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lyg.l.getcertificationnumber"
    android:versionCode="2"
    android:versionName="1.1"
    >

    <!--문자 받기, 문자 읽기-->
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 문자 송수신 관련 -->
        <receiver android:enabled="true"
            android:exported="true"
            android:name=".sms_incoming" >
            <!-- priority 를 999로 함으로써 가장 먼저 BR을 수신하도록 함.(시스템 문자 app 보다도 먼저 함.) ==다른앱도 받음       -->
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
